.debug-env {
  display: block;
  font-size: 0;
}

.debug-env-entry {
  position: absolute;
  top: 250px;
  right: 30px;
  z-index: 101;
  display: block;
  width: 64px;
  height: 64px;
  opacity: 0.5;
}
