{
  "extends": [
    "taro/react",
    "taro",
    "eslint-config-airbnb",
    "plugin:@typescript-eslint/recommended",
    "plugin:import/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "useJSXTextNode": true,
    "project": "./tsconfig.json"
  },
  "plugins": ["@typescript-eslint"],
  "rules": {
    "no-console": "off",
    "no-trailing-spaces": "off", // 允许在空行、在注释块中使用空白符
    // "no-unused-vars": ["error", { "varsIgnorePattern": "Taro" }],
    "no-unused-vars": "off",
    "no-shadow": "off",
    "no-param-reassign": ["error", { "props": false }],
    "no-nested-ternary": "off", // 嵌套三目条件
    "jsx-quotes": ["error", "prefer-double"],
    // "comma-dangle": "off",
    "no-async-promise-executor": "off",
    "class-methods-use-this": "off",
    "linebreak-style": "off", // 回车换行风格
    "arrow-parens": "off",
    "arrow-body-style": "off", // 箭头函数不强制以用块体（用花括号表示）
    "prefer-object-spread": "off",
    "import/no-unresolved": "off",
    "import/prefer-default-export": "off",
    "import/no-extraneous-dependencies": "off",
    "import/order": [
      "error",
      {
        // 对导入模块进行分组，分组排序规则如下
        "groups": [
          "builtin", // 内置模块
          "external", // 外部模块
          "parent", // 父节点依赖
          "sibling", // 兄弟依赖
          "internal", // 内部引用
          "index", // index 文件
          "type", // 类型文件
          "unknown"
        ],
        //通过路径自定义分组
        "pathGroups": [
          {
            "pattern": "@/**", // 把@开头的应用放在external分组后面
            "group": "external",
            "position": "after"
          }
        ],
        // 是否开启独特组，用于区分自定义规则分组和其他规则分组
        "distinctGroup": true,
        // 每个分组之间换行
        "newlines-between": "always",
        // 相同分组排列规则 按字母升序排序
        "alphabetize": { "order": "asc" }
      }
    ],
    "no-multiple-empty-lines": ["error", { "max": 2, "maxEOF": 2 }],
    "no-unused-expressions": ["error", { "allowShortCircuit": true, "allowTernary": true }],
    "no-empty": ["error", { "allowEmptyCatch": true }],
    "default-param-last": "off",
    "function-paren-newline": "off",
    // "import/extensions": [".js", ".jsx", ".ts", ".tsx"],
    "import/extensions": [
      "error",
      {
        "js": "never",
        "jsx": "never",
        "ts": "never",
        "tsx": "never",
        "png": "always",
        "jpg": "always",
        "jpeg": "always",
        "webp": "always",
        "svg": "always"
     }
    ],

    "react/jsx-uses-react": "off",
    "react/react-in-jsx-scope": "off",
    "react/jsx-filename-extension": ["error", { "extensions": [".js", ".jsx", ".ts", ".tsx"] }],
    "react/jsx-wrap-multilines": ["error", { "declaration": false, "assignment": false }],
    "react/jsx-one-expression-per-line": "off",
    "react/no-deprecated": "off",
    "react/static-property-placement": "off",
    "react/require-default-props": "off",
    "react/prop-types": ["error", { "ignore": ["children"] }],
    "react/function-component-definition": "off",
    "react/no-unused-class-component-methods": "off",
    "react/no-array-index-key": "off",
    "react/jsx-key": "error",

    "@typescript-eslint/ban-types": "off",
    "@typescript-eslint/ban-ts-comment": "off",
    "@typescript-eslint/no-unused-vars": ["error", { "varsIgnorePattern": "Taro" }],
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/interface-name-prefix": "off",
    "@typescript-eslint/no-empty-function": "off",
    "@typescript-eslint/no-inferrable-types": "off",
    "@typescript-eslint/no-empty-interface": "off",
    "@typescript-eslint/no-non-null-assertion": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/ban-ts-ignore": "off",
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "@typescript-eslint/member-delimiter-style": ["error", {
      "multiline": {
        "delimiter": "semi",
        "requireLast": true
      },
      "singleline": {
        "delimiter": "semi",
        "requireLast": false
      }
    }]
  }
}
