.container {
  background-color: #f6f6f6;
  min-height: 100vh;
}

.btn {
  background: #fa3f19;
  border-radius: 8px;
  color: #fff;
  display: inline-block;
  font-size: 24px;
  height: 40px;
  padding: 4px 16px;
}