.container {
  padding: 30px;
}
.demo {
  margin-bottom: 20px;
  line-height: 64px;

  text {
    vertical-align: middle;
    position: relative;
    top: -20px;
    margin-right: 15px;
  }
}
.demo-title {
  font-size: 32px;
  margin-bottom: 10px;
}