.container {
  padding: 30px;

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: normal;

    image {
      display: inline-block;
      width: 32px;
      height: 32px;
      margin-right: 16px;
      color: #fff;
    }

    margin: 16px auto;
  }
}